<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Elektronski dnevnik - Registracija</title>
    </h:head>
    <h:body>
        <h:form>
            <h:commandButton id="register" value="Registracija">
                <f:ajax render="registracijaId"/>
            </h:commandButton>&#160;&#160;
            <h:commandButton id="odeljenja" value = "Odeljenja">
                <f:ajax render="odeljenjaId"/>
            </h:commandButton>&#160;&#160;
            <h:commandButton id="ucenici" value = "Učenici">
                <f:ajax render="uceniciId"/>
            </h:commandButton>&#160;&#160;
            <h:commandButton id="roditelji" value = "Roditelji">
                <f:ajax render="roditeljiId"/>
            </h:commandButton>
         </h:form>
        <br/>
        
        <h2>Elektronski dnevnik - Registracija</h2>
        <hr/>
        <h:form>
            <h:panelGrid id = "registracijaId" columns = "3" cellpadding = "10" cellspacing = "1">
                <h:outputLabel value = "Ime:" />
                <h:inputText id="ime" required="true" p:placeholder="Ime" requiredMessage="Polje je obavezno!" value="" />
                <h:message for="ime" />
                
                <h:outputLabel value = "Prezime:" />
                <h:inputSecret id="prezime" required="true" p:placeholder="Prezime" requiredMessage="Polje je obavezno!" value="" />
                <h:message for="prezime" />
                
                <h:outputLabel value = "Nalog:" />
                <h:inputText id="nalog" required="true" p:placeholder="Nalog" requiredMessage="Polje je obavezno!" value="" />
                <h:message for="nalog" />
                
                <h:outputLabel value = "Lozinka:" />
                <h:inputSecret id="lozinka" required="true" p:placeholder="Lozinka" requiredMessage="Polje je obavezno!" value="" />
                <h:message for="lozinka" />
            </h:panelGrid>
        </h:form>
        <h:form>
            <h:panelGrid id = "user" columns = "5" cellpadding = "10" cellspacing = "1">
                <h:selectOneRadio id="radio" required="true" requiredMessage="Obavezno izabrati korisnika!" value="#">
                    <f:selectItem itemLabel="Admin" itemValue="0"/>
                    <f:selectItem itemLabel="Direktor" itemValue="1"/>
                    <f:selectItem itemLabel="Učitelj" itemValue="2"/>
                    <f:selectItem itemLabel="Roditelj" itemValue="3"/>
                </h:selectOneRadio>
                <h:message for="radio" />
            </h:panelGrid>
        </h:form>   
        <h:form>
                <div name="footerRegister">
                    <h:panelGrid>
                        <f:facet name="footer">
                        <h:commandButton id="registrujSe" value="Registruj" action="#" />
                        </f:facet>
                    </h:panelGrid>
                </div>   
        </h:form>
        <br/>
        
        <h2>Lista odeljenja:</h2>
        <hr/>
        <h:form>
            <h:dataTable id= "odeljenjaId" value= "#{departmentMB.departments}" var= "odeljenje">
                <h:column>
                    <f:facet name="header">Učitelj</f:facet>
                        #{odeljenje.uciteljiId.ime} #{odeljenje.uciteljiId.prezime}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>
                    <f:facet name="header">Odeljenje</f:facet> 
                        #{odeljenje.ime}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>
                    <f:facet name="header">Izmena</f:facet>
                    <h:commandButton value='Izmeni'/>
                </h:column>
            </h:dataTable>
        </h:form>
        <br/>
        
        <h2>Lista ucenika:</h2>
        <hr/>
        <h:form>
            <h:dataTable id = "uceniciId" value="#{studentMB.allStudents}" var="ucenici">
                <h:column>
                    <f:facet name="header">Učenik</f:facet>
                        #{ucenici.ime} #{ucenici.prezime}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>    
                    <f:facet name="header">Odeljenje</f:facet>
                        #{ucenici.odeljenjaId.ime}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>   
                    <f:facet name="header">Roditelj</f:facet>
                        #{ucenici.roditeljiId.ime} #{ucenici.roditeljiId.prezime}
                </h:column>
            </h:dataTable>
        </h:form>
        <br/>
        
        <h2>Lista roditelja:</h2>
        <hr/>
        <h:form>
            <h:dataTable id = "roditeljiId" value="#{parentsMB.allParents}" var="roditelji">
                <h:column>
                    <f:facet name="header">Roditelj</f:facet>
                        #{roditelji.ime} #{roditelji.prezime}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>    
                    <f:facet name="header">Nalog</f:facet>
                        #{roditelji.korisniciId.nalog}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>   
                    <f:facet name="header">Loznka</f:facet>
                       #{roditelji.korisniciId.lozinka}
                </h:column>
            </h:dataTable>
        </h:form>
        <br/>
        <h:form>
            <h:link value="Prijava" outcome="index"/>
        </h:form>
    </h:body>
</html>

