<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h2>Lista odeljenja:</h2>
        <hr/>
        <h:form>
            <h:dataTable id= "odeljenjaId" value= "#{directorMB.departments}" var= "odeljenje">
                <h:column>
                    <f:facet name="header">Učitelj</f:facet>
                        #{odeljenje.uciteljiId.ime} #{odeljenje.uciteljiId.prezime}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>
                    <f:facet name="header">Odeljenje</f:facet> 
                        #{odeljenje.ime}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>
                    <f:facet name="header">Izmena</f:facet>
                    <h:commandButton value='Izmeni'/>
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>

