<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
            <h2>Lista ucenika:</h2>
        <hr/>
        <h:form>
            <h:dataTable id = "uceniciId" value="#{studentMB.getStudentsFromDepartment(1)}" var="ucenici">
                <h:column>
                    <f:facet name="header">Učenik</f:facet>
                    #{ucenici.ime}
                    #{ucenici.prezime}
                </h:column>
                <h:column>    
                    <f:facet name="header">Odeljenje</f:facet>
                    #{ucenici.odeljenjaId.ime}
                </h:column>
                <h:column>   
                    <f:facet name="header">Roditelj</f:facet>
                    #{ucenici.odeljenjaId.id}
                </h:column>
            </h:dataTable>
        </h:form>
    </body>
</html>
